openai
langchain
langchain-pinecone
langchain-community
langchain-huggingface
langchain-nvidia-ai-endpoints
feedparser
pinecone
beautifulsoup4
python-dotenv
requests
streamlit
lxml 
sentence-transformers
